@charset "UTF-8";

body {
    margin: 0;
    height: 100vh;
    background-image: url('imagens/espaco.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#astronauta img {
    max-width: 100%;
    height: auto;
}